<header>
  <nav class="nav-menu">
      <li class="nav__item"><a data-action="menu-click">&#9776;</a></li>
      <li class="nav__item"><a>Home</a></li>
      <li class="nav__item"><a>About</a></li>
      <li class="nav__item"><a>Contact</a></li>
  </nav>
</header>
