<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
		<title>Alan Chandler</title>
		<link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="content">
			{{{body}}}
		</div>

		{{!-- <script>
			window.document.addEventListener("DOMContentLoaded", function(event) {
				var navItems = window.document.getElementsByClassName('nav-list-item');
				navItems[0].addEventListener('click', function() {
					var navItems = window.document.getElementsByClassName('nav-list-item');
					Array.prototype.map.call(navItems, function(obj, index) {
						if(index !== 0) {
							// obj.style.display === 'block' ? obj.style.display = 'none' : obj.style.display = 'block';
							obj.className = obj.className.indexOf('show') !== -1 ? obj.className.replace( /(?:^|\s)show(?!\S)/ , '' ) : obj.className + ' show';
						}
					});
				});
			});
		</script> --}}
	</body>
</html>
