<header>
  <nav>
    <ul class="nav-menu">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<aside class="side-menu item">
  <p class="item">Menu Item</p>
  <span class="button">Button 1</span>
  <span class="button">Button 2</span>
  <p class="item">Menu Item 2</p>
</aside>

<section>
  <h1>Welcome to my site</h1>
</section>

<!-- <div class="transition">
  <div class="box"></div>
</div>

<div class="wrapper item">
  <div class="bg">
    <div class="el"></div>
  </div>
</div> -->
