<header>
  <nav class="nav-menu">
      <li class="nav__item"><a data-action="menu-click">&#9776;</a></li>
      <li class="nav__item"><a>Home</a></li>
      <li class="nav__item"><a>About</a></li>
      <li class="nav__item"><a>Contact</a></li>
  </nav>
</header>

<section class="side-menu">
  <p class="item">Menu Item</p>
  <span class="button">Button 1</span>
  <span class="button">Button 2</span>
  <p class="item">Menu Item 2</p>
</section>

<section>
  <h1>Welcome to my site</h1>
</section>

<!-- <div class="transition">
  <div class="box"></div>
</div>

<div class="wrapper item">
  <div class="bg">
    <div class="el"></div>
  </div>
</div> -->
