@import '../vars';

body {
  min-height: 20rem;
  width: 100%;
  font-size: 2.8em;
}

a {
  color: $main-font-color;
}

h1,
h2 {
  margin: 0px;
}

img {
  width: 100%;
  margin: 0px auto;
  display: block;
}
