{% assign navPages = collections.all | eleventyNavigation %}
<header>
  <nav class="nav-menu">
    <ul>
        {%- for entry in navPages %}
            <li class="{% if entry.url == page.url %}active{% endif %} nav__item upper light--font">
                <a {% if entry.url == page.url %}class="active"{% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>
  </nav>
</header>
