<!DOCTYPE html>
<html lang="en">

{{> partials/head}}

<body>
  <div class="container">
    {{> partials/nav}} {{> partials/sidemenu}}

    <div class="blurb">
      <div class="blurb__left">
        <h1>Welcome to my site</h1>
        <p>Here's a little info about me</p>
        <div class="blurb__timeline">
          <div class="blurb__timeline__item rounded--box--shadow">
            <p>I hail from the beautiful state of Washington</p>
            <img src="/images/rainier.png" alt="Mt Rainier" />
          </div>
          <div class="blurb__timeline__item rounded--box--shadow">
            <p>Went to school at Central Washington University, and received a Bachelor of Science in Computer Science</p>
            <img src="/images/cwu.png" alt="CWU Campus" />
          </div>
          <div class="blurb__timeline__item rounded--box--shadow">
            <p>Interned and worked at Wizards of the Coast in Renton, WA for a year and a half as a Web Developer using the
              .Net Framework
            </p>
            <p>Summer 2011 and February 2012 through February 2013</p>
            <img src="/images/wizards.svg" alt="Wizards of the Coast Logo" />
          </div>
          <div class="blurb__timeline__item rounded--box--shadow">
            <p>Worked as a Web Application Developer at Intrepid Learning Inc. for 3 Years</p>
            <p>April 2013 through May 2016</p>
            <img src="/images/intrepid.png" alt="Intrepid Learning Inc. Logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="main.js"></script>
</body>

</html>