<main class="blurb">
  <div class="blurb__left">
    <h1>Welcome to my site</h1>
    <p>Here's a little info about me</p>
    <div class="blurb__timeline">
      <div class="blurb__timeline__item rounded--box--shadow">
        <p>I hail from the beautiful state of Washington</p>
        <picture>
          <source srcset="/public/images/rainier-small.jpg" media="(max-width: 600px)">
          <source srcset="/public/images/rainier-large.jpg" media="(max-width: 1500px)">
          <source srcset="/public/images/rainier-large.jpg">
          <img src="/public/images/rainier-large.jpg" alt="Flowers">
        </picture>
      </div>
      <div class="blurb__timeline__item rounded--box--shadow">
        <p>Went to school at Central Washington University, and received a Bachelor of Science in Computer Science</p>
        <picture>
          <source srcset="/public/images/cwu-small.jpg" media="(max-width: 600px)">
          <source srcset="/public/images/cwu-large.jpg" media="(max-width: 1500px)">
          <source srcset="/public/images/cwu-large.jpg">
          <img src="/public/images/cwu-large.jpg" alt="Flowers">
        </picture>
      </div>
      <div class="blurb__timeline__item rounded--box--shadow">
        <p>Interned and worked at Wizards of the Coast in Renton, WA for a year and a half as a Web Developer using the
          .Net Framework
        </p>
        <p>Summer 2011 and February 2012 through February 2013</p>
        <img src="/public/images/wizards.svg" alt="Wizards of the Coast Logo" />
      </div>
      <div class="blurb__timeline__item rounded--box--shadow">
        <p>Worked as a Web Application Developer at Intrepid Learning Inc. for 3 Years</p>
        <p>April 2013 through May 2016</p>
        <picture>
          <source srcset="/public/images/intrepid.jpg" media="(max-width: 600px)">
          <source srcset="/public/images/intrepid.jpg" media="(max-width: 1500px)">
          <source srcset="/public/images/intrepid.jpg">
          <img src="/public/images/intrepid.jpg" alt="Flowers">
        </picture>
      </div>
    </div>
  </div>
</main>
