@import '../vars';

.nav-menu {
  background-color: $nav-bg-color;

  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}
.nav__item {
  height: 4rem;
  font-size: 1.8rem;
  line-height: 4rem;
  flex: 1;
  text-align: center;

  &:last-child {
    border-right: 0px;
  }

  a {
    color: $nav-font-color;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: background-color, color ease-in-out 0.45s;

    &.active {
      background-color: $nav-font-color;
      color: $nav-font-hover-color;
    }

    &:active,
    &:hover {
      background-color: $main-bg-color;
      transition: background-color, color ease-in-out 0.45s;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    height: 7rem;
    line-height: 7rem;
    font-size: 2.5rem;

    &:hover {
      transition-duration: 0.5s;
    }
  }
}
