<header>
  <nav class="nav-menu">
    <ul>
      <li class="nav__item upper light--font">
        <a href="/">Home</a>
      </li>
      <li class="nav__item upper light--font">
        <a href="/projects.html">Projects</a>
      </li>
      <li class="nav__item upper light--font">
        <a href="/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>