<header>
  <nav class="nav-menu">
    <li class="nav__item upper light--font">
      <a data-action="menu-click">&#9776;</a>
    </li>
    <li class="nav__item upper light--font">
      <a href="/">Home</a>
    </li>
    <li class="nav__item upper light--font">
      <a href="/projects.html">Projects</a>
    </li>
    <li class="nav__item upper light--font">
      <a href="/contact.html">Contact</a>
    </li>
  </nav>
</header>