<header>
  <nav class="nav-menu">
    <ul>
      <li class="nav__item upper light--font">
        <a data-show="index" href="/">Home</a>
      </li>
      <li class="nav__item upper light--font">
        <a data-show="projects" href="/projects">Projects</a>
      </li>
      <li class="nav__item upper light--font">
        <a data-show="contact" href="/contact">Contact</a>
      </li>
      {{!-- <li class="nav__item upper light--font">
        <a data-show="cube" href="cube">Cube</a>
      </li> --}}
    </ul>
  </nav>
</header>