.container {
  min-height: 20rem;
  width: 100%;
  font-size: 2.8em;
}

a {
  color: #FFE08D;
}

h1,
h2 {
  margin: 0px;
}
table {
  width: 100%;

  tr {
    height: 20px;
  }
}
img {
  width: 100%;
  margin: 0px auto;
  display: block;
}
