@import 'base/base';
@import 'base/fonts';
@import 'layout/nav';
@import 'module/blurb';
@import 'module/drawing';
@import 'state/text';
@import 'state/modifiers';
@import 'vars';

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  background: $main-bg-color;
  color: $main-font-color;
  margin: 0;
}

@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}
