// @import 'keyframes';
// @import 'fun';
@import 'base/base';
@import 'layout/nav';
@import 'layout/sidemenu';
@import 'module/blurb';
@import 'module/drawing';
@import 'state/text';
@import 'state/modifiers';

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  background: #89CAED;
}

@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}
