// base
$main-bg-color: rgba(217, 217, 217, 0.55);
$main-font-color: rgb(68, 74, 224);

// nav
$nav-bg-color: rgba(255, 255, 255, 1);
$nav-bg-hover-color: rgba(255, 255, 255, 1);
$nav-font-color: rgba(0, 0, 0, 0.75);
$nav-font-hover-color: rgb(217, 217, 217);
