<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#89CAED" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{#if title}}
            Alan Chandler - {{title}}
        {{else}}
            Base Page Title
        {{/if}}
    </title>
    {{#> head-block}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    {{> partials/nav}}

    {{#> content-block}}{{/content-block}}

    <footer>{{> partials/footer }}</footer>
    {{#> scripts-block}}
        {{> partials/scripts}}
    {{/scripts-block}}
</body>
</html>