<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="theme-color" content="#89CAED" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home - Alan Chandler</title>

        <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    </head>

    <body>
        {{> nav}}

        {{{ body }}}

        <footer>{{> footer }}</footer>

        <script src="/public/js/main.js"></script>
    </body>

</html>