$loadingTime: 10s;
$color: rgb(255,0,0);
$liHeight: 7rem;
$contentPTop: 22rem;
$trans: 0.4s;
$transFast: 0.2s;
$cub: cubic-bezier(.59,.04,.3,1.43);

.bg {
  background-color: $color;
  animation: loading $loadingTime linear 1;
}

.el{
  color: $color;
  width: 200px;
  border: 1px solid $color;

  &:after {
    padding-left: 20px;
    content: "0%";
    display: block;
    text-align: center;
    font-size: 50px;
    padding: 10px 20px;
    color: rgb(0,255,255);
    mix-blend-mode: difference;
    animation: percentage $loadingTime linear 1;
  }
}

.transition .box {
  animation: change 5s ease-out 1;
  background: #37a1d9;
  width: 14em;
  height: 14em;
  border: 1em solid #fff;
  position: absolute;
  left: calc(50% - 8em);
  top: calc(50% - 8em);
  border-radius: 2em;
}
