nav {
  background:#676470;
  transition:all 0.8s ease;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

#svg {
  display: flex;
  padding: 0 50px;

  svg {
    flex: 1;
    padding: 20px;
  }
}
